.header {
  position: fixed;
  border: 1px solid #6D6D6D;
  top: 0;
  left: 0;
  right: 0;
  height: 44px;
  background-color: #000;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #fff;
  z-index: 10000;
}

.header-search-form {
  display: flex;
  margin-right: 72px;
}

.h1 {
  font-color: #fff;
}

input[type=text] {
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 100%;
}