p {
  color: black;
}

.layout {
  height: 100vh;

  display: grid;
  grid:
    "sidebar body" .5fr
    / auto .95fr;
  gap: 8px;
}

.sidebar {
  grid-area: sidebar;
  border-right: solid 1px black;
  height: 100vh;
  width: 5vw;
  background-color: #FFEB2F;
  position: fixed;
}

.body {
  grid-area: body;
  width: 95vw;
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(auto-fill, auto);
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  margin-left: 5vw;
  position: center

}

.comp-1 {
  /* flex-grow: 1; */
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  border-bottom: solid 1px black;
}

.marquee {
  rotate: 270deg;
  position: relative;
  top: 50%;
  left: 50%;
  margin-right: 100%;
}

.city {
  width: 100%;
  margin-bottom: 8px;
  border: solid 1px black;
  background-color: #FFEB2F;
}

.suggestion-1 {
  background-color: #BB8B41;
  border: solid 1px black;
  margin-bottom: 8px;
  padding: 2px;
}

p1 {
  color: white;
  font-weight: 400;
}

.search-city {
  background-color: pink;
  border: solid 1px black;
  margin-bottom: 8px;
  padding: 2px;
}

b1 {
  color: black;
  font-weight: 400;
}

.number-of-events {
  width: 100%;
  background-color: #FFEB2F;
  border: solid 1px black;
  margin-bottom: 8px;
  padding: 2px;
}

